---

import Tour from '../components/Tour.astro';
import '../styles/w3.css';
import Kanik from '../components/Kanik.svelte';

let title = 'My Astro Site';
console.log("hello akhil");

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href={Astro.resolve('../styles/bootstrap.min.css')}>
        <script src={Astro.resolve('../w3.js')}></script>
        <script>w3.slideshow(".nature");</script>

    <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: min(100%, 68ch);
        }
    </style>
</head>
<body>
    <main>
        <header>
            <div>
                <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
                <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
                <button type="button" class="btn btn-primary">Primary</button>
                <button class="w3-button w3-black">Black</button>
            </div>

            <p>
<button class="w3-button w3-red" onclick="w3.hide('#London')">Hide</button>
<button class="w3-button w3-red" onclick="w3.show('#London')">Show</button>
</p>

<div id="London" class="w3-panel w3-red city">
  <h2>London</h2>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="w3-panel w3-red city">
  <h2>Paris</h2>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="w3-panel w3-red city">
  <h2>Tokyo</h2>
  <p>Tokyo is the capital of Japan.</p>
</div>

        <div x-data="{ open: false }">
    <button @click="open = true">Expand</button>
 
    <span x-show="open">
      <h1>Hello Vani</h1>
    </span>
</div>

<img class="nature" src="https://jooinn.com/images/dramatic-landscape-7.jpg">
<img class="nature" src="https://hddesktopwallpapers.in/wp-content/uploads/2015/09/switzerland-images.jpg">
<img class="nature" src="https://images5.alphacoders.com/414/thumb-1920-414718.jpg">
        </header>

        <Tour />
        <Kanik client:load />
    </main>
    <script src={Astro.resolve('../alpine.min.js')}></script>
    
    <script src={Astro.resolve('../bootstrap.bundle.min.js')}></script>
    <script src={Astro.resolve('../nedb.min.js')}></script>


    <script>
      console.log("hello kanik");
      var db = new Nedb({filename: 'Kanik.db',autoload: true });
      
    </script>
</body>
</html>
